
 <form style="width:50%" method="POST" action="/users/add">
     <h2> Zarejestruj nowego użytkownika</h2>
 <input type="text" name="username"  /> <br/>
 <input type="password" name="password" /><br/>
 <input type="text" name="role" /><br/>

<button>Zapisz</button><br />
</form> 